<div class="content">
	<H2>Witam w Panelu Administratora!</h2>

	<div id="slider-controler">
		
		Zarządzaj oraz dodawaj elementy do slidera:
		<%= link_to 'New Slider', new_slider_path %>
		<% @slider.each do |s| %>
			<div class="admin-panel-small" id="admin-panel-small<%= s.id %>">
				<div class="my-slider-box" style="background-image:url('<%= s.photo.url %>');">
				
					<div class="my-slider-buttons">
						<%= link_to 'Show', s %>
						<%= link_to 'Edit', edit_slider_path(s), class: "trigger", id: s.id %>
						<%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %>
						<p class="asd" id="<%= s.id %>"> ASDASD</p>

					</div>
					
					
					<div id="pop-up" class="<%= s.id %>">
					<% @slider = s %>
							<%= render "sliders/popup_form" %>
					</div>
					
					<div class="slider-titles">
					
						<div class="slider-title">
							<div class="link-inside">
								<%= s.tytul %>
							</div>
						</div>
						
						<div class="slider-subtitle">
							<div class="link-inside">
								<%= s.krotki_opis %>
							</div>
						</div>
							
					</div>
					
				</div>
				
			</div>
			
		<% end %>
		
	</div>

	<div id="boxes-controler">

	</div>
	
	<div id="content-controler">

	</div>
</div>
				

<script type="text/javascript">
      $(function() {
		$('p.asd').click(function() {
		$id = $(this).attr("id");
		});
       $( "p.asd" ).on( "click", function() {
			$('div.'+$id).show();
		});
      });
 </script>
