<div class="content">
	<H2>Witam w Panelu Administratora!</h2>
		
		<%= render "controls" %>
		
		<%= render "sliders" %>	
	
		<%= render "boxes" %>

		<%= render "posts" %>

		<%= render "dishes" %>

</div>