<div id="content-index">
	
	<div id="content-main">
		
		<div class="content-box">
			
			<div class="content-box-divider"></div>
			
			<div class="content-box-title">
				<b>Menu</b>
			</div>
			
			
			<div class="content-box-field">
				<ul>
					<li><%= link_to "Pizze", {controller: "dishes", action: "index", :kategoria => "pizze"} %></li>
					<li><%= link_to "Sosy", {controller: "dishes", action: "index", :kategoria => "sosy"} %></li>
					<li><%= link_to "Parówki", {controller: "dishes", action: "index", :kategoria => "parowki"} %></li>
					<li><%= link_to "Pierogi", {controller: "dishes", action: "index", :kategoria => "pierogi"} %></li>
					<li><%= link_to "Lody", {controller: "dishes", action: "index", :kategoria => "lody"} %></li>
				</ul>
			</div>
		
		</div>
		
		<div class="content-box">
		
			<div class="content-box-divider"></div>
			
			<div class="content-box-title">
				<b>Pizzeria Golomp</b>
			</div>
			
			<div class="content-box-field">
				<ul>
					<li>Doświadczenie</li>
					<li>O nas</li>
					<li>Kontakt</li>
				</ul>
			</div>
			
		</div>
		
		<div class="content-box">
		
			<div class="content-box-divider"></div>
		
			<div class="content-box-title">
				<b>Promocje:</b>
			</div>
			
			<div class="content-box-field">
				<ul>
					<li>Tania pizza drogi dowóz!</li>
					<li>Płacisz więcej! Jesz więcej!</li>
					<li>Karta kredytowa, pizza gotowa!</li>
				</ul>
			</div>
			
		</div>
		
	</div>

</div>