<div id="main-visitor">

<%= content_tag :div, class: "my-slider", data: {url:polling_visitor_url(9999)} do %>
	<%= render "slider" %>
<% end %>


<%= render "sidebar" %>

<%= render "boxes/boxes" %>

<%= render "content" %>
</div>


