<div class="close" id="<%= @box.id %>"><%= image_tag "http://www.i2symbol.com/images/myspace/symbols/heavy_multiplication_x_u2716_icon_256x256.png" %></div>
<%= form_for(@box, remote: true) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this slider from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_title %><br>
    <%= f.text_area :first_title %>
  </div>
  <div class="field">
    <%= f.label :second_title %><br>
    <%= f.text_area :second_title %>
  </div>
  
  <div class="field">
    <%= f.label :artykul %><br>
    <%= f.collection_select(:artykul, Post.select(:tytul, :id), :id, :tytul) %>
  </div>
  
   <div class="field">
		<%= f.label "Edytuj okładkę tutaj:" %><br>
		<%= link_to "Edytuj", edit_box_path(@box) %>
  </div>
  
    <div class="field">
		<%= f.label :published %><br>
		<%= f.check_box :published, {}, "y", "n" %>
	</div>
	
	<div class="field">
		<%= f.label :position %><br>
		<%= f.select(:position, [1,2,3,"none"]) %>
	</div>

  <div class="actions">
    <%= f.submit class: "box-button" %>
  </div>
  
<% end %>

<style>
.close {
width:25px;
height:25px;
float:right;
display:inline-block;
}
.close img {
width:100%;
height:100%;
}
</style>