<p id="notice"><%= notice %></p>

<h1>Listing Sliders</h1>



<div id="boxes">

    <% @box.each do |box| %>

		<div class="box-img" style="background-image:url('<%= box.cover.url %>');">
	
			<div class="box-img-text">
		
				<div class="box-img-subtitle">
					<%= box.first_title %>
				</div>
		
				<div class="box-img-title">
					<%= box.second_title %>
					<%= link_to 'Show', box %>
					<%= link_to 'Edit', edit_box_path(box) %>
					<%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
				
		</div>
		
</div>

      </tr>
    <% end %>

</div>
<%= link_to 'New Box', new_box_path %>
