<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @dish.nazwa %>
</p>

<p>
  <strong>Skladniki:</strong>
  <%= @dish.skladniki %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
